@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Fix milkdown dropdown element offset
*/
.milkdown-menu-wrapper {
    position: relative;
}

@layer base {
    :root {
        --color-base: 255, 255, 255;
        --color-50: 238, 242, 255;
        --color-100: 224, 231, 255;
        --color-200: 199, 210, 254;
        --color-300: 165, 180, 252;
        --color-500: 99, 102, 241;
        --color-600: 79, 70, 229;
        --color-700: 67, 56, 202;
        /* --color-base:#ffffff rgb(255, 255, 255);
        --color-50:#eef2ff;
        --color-100:#e0e7ff;
        --color-200:#c7d2fe;
        --color-300:#a5b4fc;
        --color-500:#6366f1;
        --color-600:#4f46e5;
        --color-700:#4338ca; */
    }

    .theme-red {
        --color-base: 255, 255, 255;
        --color-50: 254, 242, 242;
        --color-100: 254, 226, 226;
        --color-200: 254, 202, 202;
        --color-300: 252, 165, 165;
        --color-500: 239, 68, 68;
        --color-600: 220, 38, 38;
        --color-700: 185, 28, 28;
    }

    .theme-orange {
        --color-base: 255, 255, 255;
        --color-50: 255, 247, 237;
        --color-100: 255, 237, 213;
        --color-200: 254, 215, 170;
        --color-300: 253, 186, 116;
        --color-500: 249, 115, 22;
        --color-600: 234, 88, 12;
        --color-700: 194, 65, 12;
    }

    .theme-amber {
        --color-base: 255, 255, 255;
        --color-50: 255, 251, 235;
        --color-100: 254, 243, 199;
        --color-200: 253, 230, 138;
        --color-300: 252, 211, 77;
        --color-500: 245, 158, 11;
        --color-600: 217, 119, 6;
        --color-700: 180, 83, 9;
    }

    .theme-yellow {
        --color-base: 255, 255, 255;
        --color-50: 255, 251, 235;
        --color-100: 254, 243, 199;
        --color-200: 253, 230, 138;
        --color-300: 252, 211, 77;
        --color-500: 245, 158, 11;
        --color-600: 217, 119, 6;
        --color-700: 180, 83, 9;
    }

    .theme-lime {
        --color-base: 255, 255, 255;
        --color-50: 247, 254, 231;
        --color-100: 236, 252, 203;
        --color-200: 217, 249, 157;
        --color-300: 190, 242, 100;
        --color-500: 132, 204, 22;
        --color-600: 101, 163, 13;
        --color-700: 77, 124, 15;
    }

    .theme-green {
        --color-base: 255, 255, 255;
        --color-50: 240, 253, 244;
        --color-100: 220, 252, 231;
        --color-200: 187, 247, 208;
        --color-300: 134, 239, 172;
        --color-500: 34, 197, 94;
        --color-600: 22, 163, 74;
        --color-700: 21, 128, 61;
    }

    .theme-teal {
        --color-base: 255, 255, 255;
        --color-50: 240, 253, 250;
        --color-100: 204, 251, 241;
        --color-200: 153, 246, 228;
        --color-300: 94, 234, 212;
        --color-500: 20, 184, 166;
        --color-600: 13, 148, 136;
        --color-700: 15, 118, 110;
    }

    .theme-cyan {
        --color-base: 255, 255, 255;
        --color-50: 236, 254, 255;
        --color-100: 207, 250, 254;
        --color-200: 165, 243, 252;
        --color-300: 103, 232, 249;
        --color-500: 6, 182, 212;
        --color-600: 8, 145, 178;
        --color-700: 14, 116, 144;
    }

    .theme-sky {
        /* need to apply */
        --color-base: 255, 255, 255;
        --color-50: 245, 243, 255;
        --color-100: 237, 233, 254;
        --color-200: 221, 214, 254;
        --color-300: 196, 181, 253;
        --color-500: 139, 92, 246;
        --color-600: 124, 58, 237;
        --color-700: 109, 40, 217;
    }

    .theme-blue {
        --color-base: 255, 255, 255;
        --color-50: 239, 246, 255;
        --color-100: 219, 234, 254;
        --color-200: 191, 219, 254;
        --color-300: 147, 197, 253;
        --color-500: 59, 130, 246;
        --color-600: 37, 99, 235;
        --color-700: 29, 78, 216;
    }

    .theme-indigo {
        --color-base: 255, 255, 255;
        --color-50: 238, 242, 255;
        --color-100: 224, 231, 255;
        --color-200: 199, 210, 254;
        --color-300: 165, 180, 252;
        --color-500: 99, 102, 241;
        --color-600: 79, 70, 229;
        --color-700: 67, 56, 202;
    }

    .theme-violet {
        /* need to apply */
        --color-base: 255, 255, 255;
        --color-50: 245, 243, 255;
        --color-100: 237, 233, 254;
        --color-200: 221, 214, 254;
        --color-300: 196, 181, 253;
        --color-500: 139, 92, 246;
        --color-600: 124, 58, 237;
        --color-700: 109, 40, 217;
    }

    .theme-purple {
        --color-base: 255, 255, 255;
        --color-50: 245, 243, 255;
        --color-100: 237, 233, 254;
        --color-200: 221, 214, 254;
        --color-300: 196, 181, 253;
        --color-500: 139, 92, 246;
        --color-600: 124, 58, 237;
        --color-700: 109, 40, 217;
    }

    .theme-fuchsia {
        /* need to apply */
        --color-base: 255, 255, 255;
        --color-50: 245, 243, 255;
        --color-100: 237, 233, 254;
        --color-200: 221, 214, 254;
        --color-300: 196, 181, 253;
        --color-500: 139, 92, 246;
        --color-600: 124, 58, 237;
        --color-700: 109, 40, 217;
    }

    .theme-pink {
        --color-base: 255, 255, 255;
        --color-50: 253, 242, 248;
        --color-100: 252, 231, 243;
        --color-200: 251, 207, 232;
        --color-300: 249, 168, 212;
        --color-500: 236, 72, 153;
        --color-600: 219, 39, 119;
        --color-700: 190, 24, 93;
    }

    .theme-rose {
        --color-base: 255, 255, 255;
        --color-50: 255, 241, 242;
        --color-100: 255, 228, 230;
        --color-200: 254, 205, 211;
        --color-300: 253, 164, 175;
        --color-500: 244, 63, 94;
        --color-600: 225, 29, 72;
        --color-700: 190, 18, 60;
    }
}
